<!DOCTYPE html>
<html>
  <head>
    <title>Twit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="container">
    <% if flash[:notice] %>
      <div class="">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Custom App", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Tweets", tweets_path %></li>

            <% if user_signed_in? %>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path  %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
